.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.editor-wrapper {
  flex: 3;
  height: 100vh;
  /* display: flex; */

}

.input-output {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input {
  flex: 1;
  background-color: #151515;
}

.output {
  padding: 0;

  flex: 1;
  background-color: #151515;
}

.input-output-div {
  height: 25px;
  padding: 0;
  /* margin: 0; */
  background-color: #272923;
}

.inp-out-header {
  padding: 0;
  margin: 0;
  color: #f3f3f3;
  /* background-color: #272923; */
}

.editor {
  height: calc(100% - 40px);
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

textarea {
  margin: 0;
  color: #fcfcfc;
  background-color: transparent;
  outline: none;
  padding: 5px;
  height: calc(100% - 45px);
  width: 93%;
  resize: none;
  border: none;
}