.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.editor-wrapper {
  flex: 3;
  height: 100vh;
  /* display: flex; */

}

.input-output {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input {
  flex: 1;
  background-color: #151515;
}

.output {
  padding: 0;
  flex: 1;
  background-color: #151515;
}

.input-output-div {
  height: 25px;
  padding: 0;
  /* margin: 0; */
  background-color: #272923;
}

.inp-out-header {
  padding: 0;
  margin: 0;
  color: #f3f3f3;
  /* background-color: #272923; */
}

.editor {
  height: calc(100% - 40px);
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: rgb(47, 47, 47);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea {
  margin: 0;
  color: #fcfcfc;
  background-color: transparent;
  outline: none;
  padding: 5px;
  height: calc(100% - 45px);
  width: 93%;
  resize: none;
  border: none;
}

.loading-div {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #fcfcfc;
}

.run-button {
  font-family: 'IBM Plex Mono';
  text-align: left;
  border: none;
  width: 110px;
  height: 40px;
  color: #fcfcfc;
  font-size: 17px;
  background-color: rgb(82, 82, 82);
  padding: 7px;
  background-size: cover;
  cursor: pointer;
}

select {
  font-family: 'IBM Plex Mono';
  color: #f3f3f3;
  background-color: #272923;
  width: 150px;
  height: 30px;
  margin: 5px;
}